{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block content %}
{{ form_start(form) }} <!--symfony form twig-->
    {{ form_row(form.name) }}
    <button type="submit">Ajouter</button>
{{ form_end(form) }}
    
{% endblock %}