{% extends 'base.html.twig' %}
{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1 class="message_principal">{{ "Accueil.name" | trans }} {{ username }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <p class="message_principal_2">{{ "Accueil.admin" | trans }}</p>
        {% endif %}
    {% else %}
        <h1 class="message_principal">{{ "Accueil.not_connected" | trans }}</h1>
    {% endif %}
{% endblock %}